<div
  class="position-relative overflow-hidden text-center light-background-color get-demo-div background-business"
>
  <%- include('../layout/partials/navigation') %> <%- include('../layout/partials/get-demo') %> <%-
  include('../layout/partials/footer') %>
</div>
